<div class="users-new-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class=" title-text">コメント一覧</h1>
        <h4><%= paginate @comments %></h4>
        <ul class="comments">
          <% @comments.each do |comment| %>
            <li class="tag-info">
                <div class="row">
                    <div class="user-details col-md-3">
                      <%= image_tag comment.user.image.url %>
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                          <p><%= link_to comment.user.name, comment.user %></p>
                        </div>
                      </div>
                    </div>
                    <div class="comment-details col-md-9">
                      <h3><%= comment.content %></h3>
                      <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="row">
                            <div class="col-md-6">
                              <p><%= comment.created_at.to_s(:datetime_jp) %></p>
                            </div>
                            <div class="col-md-3">
                              <p><%= link_to 'コメントの編集', edit_post_comment_path(id: comment.id) %><p>
                            </div>
                            <div class="col-md-3">
                              <p><%= link_to 'コメントの削除', post_comment_path(id: comment.id), method: :delete %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </li>
          <% end %>
        </ul>
        <h4><%= paginate @comments %></h4>
      </div>
    </div>
  </div>
</div>
