<div class="posts-new-wrapper">
  <div class="container">
        <h1 class="text-center title-text">検索結果</h1>
        <h4 class="text-center"><%= paginate @results %></h4>
        <div class="posts">
          <% @results.each do |post| %>
            <div class="post-info">
              <div class="user-details">
                <%= image_tag post.user.image.url %>
                <p class="text-center"><%= link_to post.user.name, post.user %></p>
              </div>
              <div class="post-details">
                <div class="text-center post-title">
                  <h5><%= link_to post.title, post %></h5>
                  <h7>投稿タグ: <%= post.post_tag.name %></h7>
                </div>
                <div class="post-contents">
                  <%= image_tag post.image.url %>
                  <p><%= post.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h4 class="text-center"><%= paginate @results %><h4>
  </div>
</div>
