<div class="users-new-wrapper text-center">
  <div class="container">
    <h1 class="title-text">アカウント</h1>
    <div class="users">
      <div class="account-info">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= image_tag @user.image.url %>
            <h2><%= @user.name %></h2>
            <p><%= @user.email %></p>
          </div>
          <% if current_user.present? && current_user != @user %>
            <% if current_user.following?(@user) %>
              <div class="col-md-2 col-md-offset-5">
                <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, @user.id %>
                  <%= f.submit 'フォローの解除', class: 'btn btn-danger btn-block' %>
                <% end %>
              </div>
            <% else %>
              <div class="col-md-2 col-md-offset-5">
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, @user.id %>
                  <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="col-md-4 col-md-offset-4">
            <div class="col-md-6">
              <%= link_to followings_user_path(@user) do %>
                <p>フォロー数: <%= @user.followings.count %></p>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= link_to followers_user_path(@user) do %>
                <p>フォロワー数: <%= @user.followers.count %></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-bottom">
          <% if current_user.present? && current_user.id == @user.id %>
            <p><%= link_to '編集', edit_user_path(id: @user.id) %></p>
            <p><%= link_to '削除', user_path(id: @user.id), method: :delete %></p>
          <% end %>
          <% if current_user.present? && current_user.id == @user.id && current_user.admin == true %>
            <p><%= link_to 'ユーザー一覧', users_path %></p>
            <p><%= link_to '投稿用タグ一覧', post_tags_path %></p>
            <p><%= link_to '投稿用タグ作成', new_post_tag_path %></p>
            <p><%= link_to 'いいね用タグ一覧', bravo_tags_path %></p>
            <p><%= link_to 'いいね用タグ作成', new_bravo_tag_path %></p>
            <p><%= link_to 'イベント作成', new_event_path %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div id="wrapper">
      <div class="container">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#tab1" class="text-uppercase">Tab 1</a></li>
          <li><a href="#tab2" class="text-uppercase">Tab 2</a></li>
          <li><a href="#tab3" class="text-uppercase">Tab 3</a></li>
        </ul>

        <div class="tab-content">
          <div id="tab1" class="content-pane is-active">
              <div class="posts">
                <% if @posts.present? %>
                  <% @posts.each do |post| %>
                    <div class="post-info">
                      <div class="row">
                      <div class="user-details col-md-2">
                        <%= image_tag post.user.image.url %>
                        <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                            <p><%= link_to post.user.name, post.user %></p>
                          </div>
                        </div>
                      </div>
                      <div class="post-details col-md-10">
                        <div>
                          <h3><%= link_to post.title, post %></h3>
                          <h7>投稿タグ: <%= post.post_tag.name %></h7>
                        </div>
                        <div class="post-contents">
                          <div class="row">
                            <div class="col-md-4">
                              <%= image_tag post.image.url %>
                            </div>
                            <div class="col-md-8">
                              <p><%= post.content %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <h3>投稿がありません</h3>
                <% end %>
              </div>
              <h4><%= paginate @posts %></h4>
          </div>

          <div id="tab2" class="content-pane">
            <div class="posts">
              <% if @bravo_posts.present? %>
                <% @bravo_posts.each do |post| %>
                <div class="post-info">
                  <div class="row">
                  <div class="user-details col-md-2">
                    <%= image_tag post.user.image.url %>
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">
                        <p><%= link_to post.user.name, post.user %></p>
                      </div>
                    </div>
                  </div>
                  <div class="post-details col-md-10">
                    <div>
                      <h3><%= link_to post.title, post %></h3>
                      <h7>投稿タグ: <%= post.post_tag.name %></h7>
                    </div>
                    <div class="post-contents">
                      <div class="row">
                        <div class="col-md-4">
                          <%= image_tag post.image.url %>
                        </div>
                        <div class="col-md-8">
                          <p><%= post.content %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
                <% end %>
              <% else %>
                <h3>いいねした投稿がありません</h3>
              <% end %>
            </div>
            <h4><%= paginate @bravo_posts %></h4>
          </div>

          <div id="tab3" class="content-pane">
            <div class="posts">
              <% if @favorite_posts.present? %>
                <% @favorite_posts.each do |post| %>
                <div class="post-info">
                  <div class="row">
                    <div class="user-details col-md-2">
                      <%= image_tag post.user.image.url %>
                      <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                          <p><%= link_to post.user.name, post.user %></p>
                        </div>
                      </div>
                    </div>
                    <div class="post-details col-md-10">
                      <div>
                        <h3><%= link_to post.title, post %></h3>
                        <h7>投稿タグ: <%= post.post_tag.name %></h7>
                      </div>
                      <div class="post-contents">
                        <div class="row">
                          <div class="col-md-4">
                            <%= image_tag post.image.url %>
                          </div>
                          <div class="col-md-8">
                            <p><%= post.content %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <% else %>
                <h3>お気に入り登録した投稿がありません</h3>
                <% end %>
              </div>
              <h4><%= paginate @favorite_posts %></h4>
          </div>
        </div>
      </div>
  </div>
</div>
