<div class="users-new-wrapper">
  <div class="container">
    <h1 class="text-center title-text">アカウント</h1>
    <div class="users">
      <div class="text-center account-info">
        <%= image_tag @user.image.url %>
        <h2><%= @user.name %></h2>
        <p><%= @user.email %></p>
        <div class="form-bottom">
          <p><%= link_to '編集', edit_post_path(id: @user.id) %></p>
          <p><%= link_to 'ユーザーの削除', user_path(id: @user.id), method: :delete %></p>
          <p><%= link_to '投稿用タグ一覧', post_tags_path %></p>
          <p><%= link_to '投稿用タグ作成', new_post_tag_path %></p>
          <p><%= link_to 'いいね用タグ一覧', bravo_tags_path %></p>
          <p><%= link_to 'いいね用タグ作成', new_bravo_tag_path %></p>
          <p><%= link_to 'イベント作成', '#' %></p>
        </div>
      </div>
    </div>
    <div class="index">
      <div class="posts-index">
        <h4 id="1">投稿一覧</h4>
      </div>
      <div class="bravos-index">
        <h4 id="2">いいね一覧</h4>
      </div>
      <div class="favorites-index">
        <h4 id="3">お気に入り一覧</h4>
      </div>
    </div>
    <div class="index-frame-p">
      <div class="posts">
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <div class="post-info">
              <div class="user-details">
                <%= image_tag post.user.image.url %>
                <p class="text-center"><%= link_to post.user.name, post.user %></p>
              </div>
              <div class="post-details">
                <div class="text-center post-title">
                  <h5><%= link_to post.title, post %></h5>
                  <h7>投稿タグ: <%= post.post_tag.name %></h7>
                </div>
                <div class="post-contents">
                  <%= image_tag post.image.url %>
                  <p><%= post.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h3>投稿はありません</h3>
        <% end %>
      </div>
      <h4 class="text-center"><%= paginate @posts %></h4>
    </div>
    <div class="index-frame-b">
      <div class="posts">
        <% if @bravo_posts.present? %>
          <% @bravo_posts.each do |post| %>
            <div class="post-info">
              <div class="user-details">
                <%= image_tag post.user.image.url %>
                <p class="text-center"><%= link_to post.user.name, post.user %></p>
              </div>
              <div class="post-details">
                <div class="text-center post-title">
                  <h5><%= link_to post.title, post %></h5>
                  <h7>投稿タグ: <%= post.post_tag.name %></h7>
                </div>
                <div class="post-contents">
                  <%= image_tag post.image.url %>
                  <p><%= post.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h3>いいねした投稿はありません</h3>
        <% end %>
      </div>
      <h4 class="text-center"><%= paginate @bravo_posts %></h4>
    </div>
    <div class="index-frame-f">
      <div class="posts">
        <% if @favorite_posts.present? %>
          <% @favorite_posts.each do |post| %>
            <div class="post-info">
              <div class="user-details">
                <%= image_tag post.user.image.url %>
                <p class="text-center"><%= link_to post.user.name, post.user %></p>
              </div>
              <div class="post-details">
                <div class="text-center post-title">
                  <h5><%= link_to post.title, post %></h5>
                  <h7>投稿タグ: <%= post.post_tag.name %></h7>
                </div>
                <div class="post-contents">
                  <%= image_tag post.image.url %>
                  <p><%= post.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h3>お気に入り登録した投稿はありません</h3>
        <% end %>
      </div>
      <h4 class="text-center"><%= paginate @favorite_posts %></h4>
    </div>
  </div>
</div>
