<%= form_for @post_tag do |f| %>

  <div class="form-group">
    <%= f.label :name, class: 'text-white' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit '投稿用タグを編集する', class: 'btn btn-black btn-block' %>
<% end %>

<%= link_to '投稿用タグを削除する', post_tag_path(id: @post_tag.id), method: :delete %>
