<div class="users-new-wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class=" title-text">投稿用タグ一覧</h1>
        <h4 class="new_tag_link"><%= link_to '投稿用タグ作成', new_post_tag_path %></h4>
        <h4><%= paginate @post_tags %></h4>
        <ul class="tags">
          <% @post_tags.each do |post_tag| %>
            <li class="tag-info">
              <div class="tag-details">
                <div class="row">
                    <div class="col-md-5">
                      <h3><%= post_tag.name %></h3>
                    </div>
                    <div class="col-md-3">
                      <p>使用数: <%= post_tag.posts.count %></p>
                    </div>
                    <div class="col-md-2">
                      <p><%= link_to '編集', edit_post_tag_path(id: post_tag.id) %><p>
                    </div>
                    <div class="col-md-2">
                      <p><%= link_to '削除', post_tag_path(id: post_tag.id), method: :delete, data: { confirm: "タグを削除してもよろしいですか？" } %></p>
                    </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <h4><%= paginate @post_tags %></h4>
      </div>
    </div>
  </div>
</div>
