<div class="posts-new-wrapper text-center">
  <div class="container">
    <h1 class="title-text">投稿一覧</h1>
    <h4><%= paginate @posts %></h4>
    <div class="posts">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="post-info">
            <div class="row">
            <div class="user-details col-md-2">
              <%= image_tag post.user.image.url %>
              <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p><%= link_to post.user.name, post.user %></p>
              </div>
              </div>
            </div>
            <div class="post-details col-md-10">
              <div>
                <h3><%= link_to post.title, post %></h3>
                <h7>投稿タグ: <%= post.post_tag.name %></h7>
              </div>
              <div class="post-contents">
                <div class="row">
                <div class="col-md-4">
                <%= image_tag post.image.url %>
                </div>
                <div class="text-left col-md-8">
                  <p><%= post.content %></p>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>投稿がありません</h3>
      <% end %>
    </div>
    <h4><%= paginate @posts %><h4>
  </div>
</div>
