<%= link_to '投稿を削除する', post_path(id: @post.id), method: :delete %>
<div>いいねする</div>
<%= link_to 'いいねを解除する', bravo_path(post_id: @post.id), method: :delete %>

<% if !@post.favorite_users.include?(current_user) %>
  <%= link_to 'お気に入り登録する', favorites_path(post_id: @post.id), method: :post %>
<% else %>
  <%= link_to 'お気に入りを解除する', favorite_path(post_id: @post.id), method: :delete %>
<% end %>
<%= Favorite.where(post_id: @post.id).count %>
