<!DOCTYPE html>
<html>
  <head>
    <title>ModelersPost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>


<!--ヘッダーロゴ-->
      <div class="logo">
          <a href="#">ModelersPost</a>
      </div>


<!--ハンバーガーメニュー-->
      <div id="hamburger">
          <div class="icon">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>


<!--ハンバーガーメニューのリスト-->
      <nav class="sm">
        <%= render 'layouts/header_menu' %>
     </nav>


<!--ヘッダーリスト-->
      <nav class="pc">
        <%= render 'layouts/header_menu' %>
      </nav>


    </header>



    <% flash.each do |key, value| %>
      <div id="alert" class="alert alert-<%= key %> text-center" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>

  </body>
</html>
